<launch>
<!-- Launch file for Livox MID360S LiDAR -->
	<arg name="dataset" default="LIV_eye_cs050" />
	<arg name="rviz" default="true" />
	<arg name="camera_config"
		default="$(find fast_livo)/config/$(arg dataset)/camera_pinhole_mid360s.yaml" />

	<rosparam command="load" file="$(find fast_livo)/config/$(arg dataset)/mid360s.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping"
		name="laserMapping" output="screen"
		args="-camera_config $(arg camera_config)">
		<!-- 设置glibc malloc优化 -->
		<env name="MALLOC_TRIM_THRESHOLD_" value="1073741824" />
		<env name="MALLOC_ARENA_MAX" value="4" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="fast_livo2_rviz" args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" />
	</group>
	
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/left_camera/image raw out:=/left_camera/image" output="screen" respawn="true"/>

launch-prefix="gdb -ex run --args"
launch-prefix="valgrind --leak-check=full"
</launch> 	
